/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

body{background-color: #262421;
	color:white;
  font-family: lexend deca;}

h1{color:#dbaf6e;
	text-align: center;
  font-family: libre baskerville;
  margin-top: 20px}
h2{text-align: center;
  color:grey;
  font-size: 20px;
  margin-bottom: 20px;
  }
h3{font-family: libre baskerville;
  text-align: center;
  margin: 20px;
  color:#dbaf6e;}

.navbar {background-color:#1c1b18 !important;}

.navbar-brand,.nav-link,.active,.navbar-toggler-icon{color:white !important;
font-family: lexend deca;}

.card-group{margin:15px;}
.card{background-color:#1c1b18;}
.card-title{color:#dbaf6e}
.card-text{color:#4f4b45}

/* CONTACT CSS */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #997a48;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ba9b68;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }/* CONTACT CSS */
